  body,
  html {
      font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      line-height: 1.5em;
      font-size: 18px;
  }

  .content {
      margin: 2% 0 2% 0;
      text-align: center;
  }

  .overview {
      padding: 0 20% 0 20%;
      text-align: left;
  }

  .screen {
      justify-content: center;
  }

  .field {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index : -200;
  }

  :root {
      --init-x: 0;
      --init-y: 0;
      --dest-x: 0;
      --dest-y: 0;
      --dest-z: 0;
  }


  .lingo {
      position: absolute;
      color: white;
      transform: translateZ(0);
      -webkit-animation: flythrough 5s forwards ease-in;
      transform-origin: center;
  }


  @-webkit-keyframes flythrough {
      0% {
          opacity: 0;
          transform: perspective(0px) translate3d(var(--init-x), var(--init-y), 0px);
      }

      50% {
          opacity: 1;
      }

      100% {
          opacity: 0;
          transform: perspective(700px) translate3d(var(--dest-x), var(--dest-y), var(--dest-z));
      }
  }
